<nav class="navbar navbar-expand-sm navigation-grey navbar-dark">
  <div class="container">
    <a href="/" class="navbar-brand text-blue">David Rosen</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
      <span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link text-blue" href="/">Home</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
            aria-expanded="false">WHO WE ARE</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/who-we-are/about-us">About us</a>
            <a class="dropdown-item" href="/who-we-are/team">Our Team</a>
            <a class="dropdown-item" href="/who-we-are/career">Careers</a>
            <a class="dropdown-item" href="/who-we-are/contact-us">Contact Us</a>
          </div>
        </li>


        <li class="nav-item">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
            aria-expanded="false">SOLUTIONS</a>
          <ul class="dropdown-menu">
            <li>
              <div class="">
                <div class="row ml-5 mt-3 mb-4 mr-5">
                  <div class="col-md-3">
                    <a href="/solutions/portfolio-analytics">
                      PORTFOLIO ANALYTICS
                    </a>
                    <ul class="">
                      <li><a href="/solutions/portfolio-analytics#pricing-and-valuation">Pricing &amp; Valuation</a>
                      </li>
                      <li><a href="/solutions/portfolio-analytics#market-models">Market Models</a></li>
                      <li><a href="/solutions/portfolio-analytics#portfolio-optimization">Optimization</a></li>
                      <li><a href="/solutions/portfolio-analytics#predictive-analytics">Predictive Analytics</a></li>
                      <li><a href="/solutions/portfolio-analytics#performance-analysis">Performance Analysis</a></li>
                    </ul>
                  </div>
                  <div class="col-md-3">
                    <a href="/solutions/investing">
                      <span class="">INVESTING</span>
                    </a>
                    <ul class="">
                      <li><a href="/solutions/investing#security-selection">Security Selection </a></li>
                      <li><a href="/solutions/investing#security-analyzer">Security Analyzer</a></li>
                      <li><a href="/solutions/investing#investment-strategy-models">Investment Strategy Models</a></li>
                      <li><a href="/solutions/investing#hedging">Hedging</a></li>
                      <li><a href="/solutions/investing#emerging-markets">Emerging Market Risk Analysis</a></li>
                    </ul>
                  </div>
                  <div class="col-md-3">
                    <a href="/solutions/trading">
                      <span class="">TRADING</span>
                    </a>
                    <ul class="">
                      <li><a href="/solutions/trading#trading-algorithms">Trading Algorithms</a></li>
                      <li><a href="/solutions/trading#trading-support">Trading Support</a></li>
                      <li><a href="/solutions/trading#trader-risk">Trader Risk</a></li>
                    </ul>
                  </div>
                  <div class="col-md-3">
                    <a href="/solutions/business-analytics">
                      <span class="">BUSINESS ANALYTICS</span>
                    </a>
                    <ul class="">
                      <li><a href="/solutions/business-analytics#business-models">Business Models</a></li>
                      <li><a href="/solutions/business-analytics#predictive-analytics">Predictive Analytics</a></li>
                      <li><a href="/solutions/business-analytics#sentiment-analytics">Sentiment Analytics</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </li>

      

        <li class="nav-item">
          <a class="nav-link text-blue" href="/music">Music Player</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-blue" href="/college">College Data</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-blue" href="/projects">Other Programs</a>
        </li>
      </ul>
    </div>
  </div>
</nav>